* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}
h1 {
  vertical-align: middle;
}
header {
  background-color: #04324c;
  height: 3em;
  color: whitesmoke;
  font-size: 2vh;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

section {
  margin: 2em 0;
  overflow: hidden;
}

section h2 {
  font-size: 3em;
  display: block;
  padding-bottom: 0.5em;
  border-bottom: 1px solid grey;
  margin-bottom: 0.5em;
  text-align: center;
}
table {
  margin-bottom: 0.5em;
  table-layout: fixed;
  border-spacing: 0;
}

td,
th {
  padding: 0.5em;
  border: 1px solid grey;
  text-align: center;
  margin: 0;
}
th {
  font-weight: bold;
  background-color: lightgray;
}

#form-title {
  font-size: 1.5em;
  text-align: left;
  padding: 0.2em;
}

.group {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

.field {
  padding: 0.5em;
}
button {
  display: block;
  margin: 1em auto;
  padding: 0.5em 2em;
  border: 0;
  border-bottom: 2px solid;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: #0c8cd3;
  border-color: #04324c;
}

button:hover {
  color: coral;
}

.invalid-patient {
  color: red;
  font-weight: bold;
}
